<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
    	<class name="com.agm.Judi.tests.Validate_TrialAdmin_TrialsSitesSubjectsUsers"/>
<!--       	<class name="com.agm.Judi.tests.DemoTest3"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
